{% extends "base.html" %} 
 {% block title %}Login {% endblock %}
    {% block contentRegister %} 
    <div class="container" style="max-width: 400px;
            margin: 100px auto;
            border: 1px solid #ccc;
            padding: 20px;
            border-radius: 5px;">
        <h2 class="text-center mb-4">Login</h2>
        {% if error%}
        <center><div class="alert alert-danger" role="alert">{{error}}</div></center>
        {% endif %}
        {% if msg%}
        <center><div class="alert alert-success" role="alert">{{msg}}</div></center>
        {% endif %}
        
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-primary">Login</button>
            <h6>Forgot password? <a href="{% url 'forgotpassword_college' %}">Click Here...</a></h6>
            <h6>Don't have an account<a href="{% url 'signup' %}">Register Here.......</a></h6>
            
        </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    {% endblock %}

{% block body %}
{% endblock %}
