{% extends "index.html" %} 
 {% block title %} Login {% endblock %}
    {% block contentRegister %} 
    <div class="container" style="max-width: 400px;
            margin: 100px auto;
            border: 1px solid #ccc;
            padding: 20px;
            border-radius: 5px;">
        <h2 class="text-center mb-4">Set New Password</h2>
        {% if error%}
        <center><div class="alert alert-danger" role="alert">{{error}}</div></center
        {% endif %}
        <form action="{% url 'reset_password_confirm_college'%}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">New Password</label>
                <input type="password" class="form-control" id="password" name="new_password" placeholder="Set New password" required>
            </div>
            <center>
                <button type="submit" class="btn btn-primary">Reset</button>
            </center>
        </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    {% endblock %}

{% block body %}
{% endblock %}
