{% extends "base.html" %}
{% block body %}
<style>
/* Styles for messages and form */
.common-field-size {
    width: 150px;  /* Set your desired width */
}
.small-field-size {
    width: 80px;  /* Set your desired width */
    padding: 0.2rem;
}

.messages { 
    list-style: none;
    padding: 0;
    margin: 0 0 20px;
}
.messages li {
    margin: 10px 0;
    padding: 10px;
    background-color: #f8d7da;
    border-left: 5px solid #f5c2c7;
    position: relative;
}
.close-btn {
    background: transparent;
    border: none;
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
}
.form-label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
</style>
<section class="container">
    <form action="{% url 'manage_student_parent_details' id=student.id %}" method="post">
        {% csrf_token %}
        <!-- Bank Section -->
        <section class="row mt-3" id="parents_section">
            <div class="bg-primary my-3"><h3>Parent Details</h3></div>
            <div class="col-md-2">
                <div class="form-outline" data-mdb-input-init>
                    {{ parent_form.father_name.label }}
                    {{ parent_form.father_name }}
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-outline" data-mdb-input-init>
                    {{ parent_form.mother_name.label }}
                    {{ parent_form.mother_name }}
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-outline" data-mdb-input-init>
                    {{ parent_form.father_aadhar.label }}
                    {{ parent_form.father_aadhar }}
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-outline" data-mdb-input-init>
                    {{ parent_form.mother_aadhar.label }}
                    {{ parent_form.mother_aadhar }}
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-outline" data-mdb-input-init>
                    {{ parent_form.mobile.label }}
                    {{ parent_form.mobile }}
                </div>
            </div>
            <div class="col-12 mt-5 mb-5 d-flex justify-content-between">
                <a href="{% url 'manage_address_details' entity_type='student' id=student.id %}">Skip</a>
                <button class="btn btn-primary" type="submit" data-mdb-ripple-init>Save&Next</button> 
            </div>
        </section>
    </form>
</section>

{% endblock %}